body{margin: 0;}
.MuiContainer-root{margin-top:30px;}
.MuiPaper-root a{
    text-decoration: none;
    font-weight: 400;
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #005FA0!important;
}

.MuiTypography-h5 {
    font-size: 15px!important;
}

.MuiTypography-h3 {    
    font-size: 25px!important;
    position: relative;
    top: 150px;
}

.slick-dots {
    bottom: -10px!important;
}